#fac_card{
    width: 48%;
}

@media screen and (max-width: 995px) {
    #fac_card {
        width: 43%;
    }
}

@media screen and (max-width: 770px) {
    #fac_card {
        width: 80%;
    }
}

.fac-card-svg {
    float: left;
    margin-right: 5px;
}